body {
  background-color: #ffe589;
}

.corpo-camera {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 470px;
  height: 260px;
  background: #dfdede;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 5px 0px 3px #ebbd77;
}

.corpo-camera > div {
  margin: 20px;
}

.retangulo {
  box-sizing: border-box;
  width: 79px;
  height: 135px;
  border: 3px solid #726b6b;
  background: #8e8e8e;
  border-radius: 14px;
}

.detalhe-lente {
  position: absolute;
  left: 215px;
  top: -120px;
  width: 25px;
  height: 25px;
  background-color: #353535;
  border-radius: 50%;
}

.circulo {
  box-sizing: border-box;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #2b2b2b 50%, #0c0c0c 50%);
  border: 40px outset #1a1a1a;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.43);
}

.quadrado {
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border: 3px solid #14110f;
  background: #1c1815;
  border-radius: 15px;
}

.polaroid {
  position: relative;
}

.btn {
  position: absolute;
  border: none;
  padding: 24px;
  background-color: #6f0c0c;
  border-radius: 30px;
  cursor: pointer;
  top: -45px;
}

.foto {
  box-sizing: border-box;
  position: absolute;
  width: 250px;
  height: 250px;
  left: 90px;
  top: -235px;
  background-image: url(https://img.freepik.com/vetores-gratis/gato-bonito-segurando-a-ilustracao-de-icone-do-vetor-dos-desenhos-animados-de-bola-de-fios-conceito-de-icone-de-natureza-animal-isolado-de-vetor-premium-estilo-de-desenho-animado-plano_138676-4233.jpg);
  background-position: center;
  background-size: 100%;
  border-width: 20px 20px 50px 20px;
  border-style: solid;
  border-color: #ffffff;
  z-index: -1;
  transition: 0.02s;
}

.polaroid button:focus ~ .foto {
  transform: translateY(330px);
  z-index: 1;
}

.base-camera {
  position: relative;
  margin: 0 auto;
  width: 490px;
}

.detalhe {
  position: absolute;
  width: 390px;
  height: 30px;
  left: 50px;
  top: 60px;
  background: #000000;
  border-radius: 3px;
}

.base-camera2 {
  box-sizing: border-box;
  height: 135px;
  background: #404040;
  border-top: 30px solid #ffffff;
  border-radius: 10px 10px 20px 20px;
  box-shadow: 5px 8px 3px #ebbd77;
}
